* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    position: relative;
    background: linear-gradient(65deg,whitesmoke,#297858);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

main
{
    width: 90%;
    margin: 60px auto;
}

header
{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e5e5e5;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logomark-KN {
    padding: 0;
    top: 10px;
    max-width: 100px;
    max-height: 100px;
    margin-top: 1px;
    left: 5px;
    display: flex;
    position: absolute;
}

.hidee
{
    display: none;
}

.search-box {
    position: absolute;
    left: 66%;
    top: 2%;
    height: 60px;
    width: 60px;
    background-color: #222327;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    transition: 0.7s;
}

.Nome-apresentacao
{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    border: hidden;
    margin: 12px;
    left: 130px;
    position: absolute;
}

.search-box .button-box,
.search-box .button-close {
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #Fff;
}

.search-box .button-box i {
    font-size: 25px;
}

.search-box .input-busca {
    position: absolute;
    left: 60px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 65px;
}

.search-box .input-busca input {
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #222327;
}

.search-box .button-close i {
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
}

.search-box.animacao1 {
    width: 350px;
}

.navigation-menu {
    position: absolute;
    top: 15px;
    left: 85%;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu .toggle {
    position: relative;
    width: 75px;
    height: 75px;
    background: #222327;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    cursor: pointer;
    transition: 0.5s;

}

.navigation-menu .toggle.active {
    transform: rotate(315deg);
    box-shadow:
        0 0 0 68px #fff;
    background: #222327;
    color: #fff;
}

.navigation-menu li {
    transform: rotate(calc(360deg / 12 * var(--i))) translateX(15px);
    position: absolute;
    list-style: none;
    transform-origin: 128px;
    left: 0px;
    top: 100px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
}

.navigation-menu.active li {
    visibility: visible;
    opacity: 1;
}

.navigation-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 1.5em;
    color: black;
    transform: rotate(calc(360deg / -12 * var(--i)));
    border-radius: 50%;
}

.navigation-menu.active li.active {
    transform: rotate(calc(360deg / 12 * var(--i))) translateX(1px);
}

.indicator {
    position: absolute;
    width: 100px;
    transform-origin: right;
    height: 1px;
    left: calc(50% + 2.5px);
    background: transparent;
    pointer-events: none;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: -27px;
    left: -30px;
    width: 55px;
    height: 55px;
    background: #222327;
    box-shadow: 0 0 0 6px #29FD53;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
}



.navigation-menu  li:nth-child(1).active~.indicator {
    transform: translateX(-98px) rotate(0deg);
}

.navigation-menu  li:nth-child(3).active~.indicator {
    transform: translateX(-98px) rotate(30deg);
}

.navigation-menu li:nth-child(4).active~.indicator {
    transform: translateX(-98px) rotate(59deg);
}

.navigation-menu li:nth-child(5).active~.indicator {
    transform: translateX(-98px) rotate(88deg);
}

.navigation-menu li:nth-child(6).active~.indicator {
    transform: translateX(-98px) rotate(118deg);
}

.navigation-menu li:nth-child(7).active~.indicator {
    transform: translateX(-98px) rotate(148deg);
}

.navigation-menu li:nth-child(8).active~.indicator {
    transform: translateX(-98px) rotate(180deg);
}

.navigation-menu li:nth-child(9).active~.indicator {
    transform: translateX(-98px) rotate(212deg);
}

.navigation-menu li:nth-child(10).active~.indicator {
    transform: translateX(-98px) rotate(242deg);
}

.navigation-menu li:nth-child(11).active~.indicator {
    transform: translateX(-98px) rotate(271deg);
}

.navigation-menu li:nth-child(12).active~.indicator {
    transform: translateX(-98px) rotate(300deg);
}

.navigation-menu li:nth-child(13).active~.indicator {
    transform: translateX(-98px) rotate(330deg);
}

@media screen and (max-width: 720px) {
    img {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }

    .Carro-2023 {
        max-width: 10em;
        margin-top: 1em;
    }

    #Carros-Modelos {
        grid-template-columns: auto auto;
        -ms-grid-column-gap: 1em;
    }
}


.Tds-Carros
{
    padding: 40px 20px;
}

.Tds-Carros ul 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Tds-Carros ul li
{
    list-style: none;
    width: 23.4%;
    height: 400px;
    transition: 0.5 all;
    background: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    margin: 200px 10px 0 10px;
    position: relative;
}

picture img 
{
    width: 95%;
    z-index: 1;
    padding: 20px 0 0 0 ;
}
.details>strong
{
    display: inherit;
    margin: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color:#555 ;
}
.details>span
{
    display: inherit;
    padding: 0 20px;
    width: 80%;
}
li h3
{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 30px;
    color: #555;
    text-shadow: 1px 1px 2px black;
}